.App {
  text-align: center;
}

*{
  font-family:avenir, 'Century Gothic';
}

body{
  background-color: #282c34;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#game-canvas{
  width:100%;
  height:100%;
  position: fixed;
  z-index:-1;
  opacity:0.3;
  top:0; bottom:0; right: 0; left: 0;
  margin: auto;
}

.App-logo {
  height: 40vmin;
}

.home-section {
  padding: 1em 2em;
  color: #aaa
}

section{
  min-height: 100vh;
}

.App-link {
  color: #09d3ac;
}

.navbar-top{
  position:fixed;
  left: 50%;
  transform: translateX(-53.5%);
}

.loader {
  max-width: 15rem;
  position: relative;
  bottom:45px;
  min-width: 6rem;
	width: 100%;
	height: auto;
  stroke-linecap: round;
}




circle {
	fill: none;
	stroke-width: 3.5;
	animation-name: preloader;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	transform-origin: 170px 170px;
	will-change: transform;
}

circle:nth-of-type(1){
  stroke-dasharray: 550px;
  animation-delay: 0.15s;
}

circle:nth-of-type(2) {
  stroke-dasharray: 500px;
  animation-delay: 0.3s;
}

circle:nth-of-type(3) {
  stroke-dasharray: 450px;
  animation-delay: 0.45s;
}

circle:nth-of-type(4) {
  stroke-dasharray: 300px;
  animation-delay: 0.6s;
}

@keyframes preloader {
	50% {
		transform: rotate(360deg);
	}
}


.justify-around{
  display:flex;
  justify-content:space-around;
}

.justify-between{
  display:flex;
  justify-content:space-between;
}

.justify-end{
  display:flex;
  justify-content:flex-end;
}

.justify-end > *{
  margin:0 0 0 7.5px;
}

.justify-start{
  display:flex;
  justify-content:flex-start;
}

.justify-start > *{
  margin:0 7.5px 0 0;
}

.justify-center{
  display:flex;
  justify-content: center;
}

.justify-center > a > div.icon-wrapper {
  margin:10px 25px 10px 25px;
  padding:20px 15px 15px 15px;
  background:gray;
  border-radius:10px;
  cursor: pointer;
  box-shadow: 0px 20px 10px 0px rgba(0,0,0,0.5);
}

.justify-center > a > div.icon-wrapper:hover{
  transform: translateY(-6.5px);
  opacity:0.7;
  animation-fill-mode: none;
  box-shadow: 0px -10px 10px 0px rgba(0,0,0,0.5);
}

.appear{
  animation: appear;
  opacity: 0;
  animation-duration: 1s;
  transition: opacity 2s ease, transform 0.5s ease, box-shadow 1s ease;
  animation-fill-mode: forwards;
}


@-webkit-keyframes appear {
  0%   { opacity: 0; }
  100%   { opacity: 0.4; }
}
@-moz-keyframes appear {
  0%   { opacity: 0; }
  100%   { opacity: 0.4; }
}
@-o-keyframes appear {
  0%   { opacity: 0; }
  100%   { opacity: 0.4; }
}
@keyframes appear {
  0%   { opacity: 0; }
  100%   { opacity: 0.4; }
}

.appear-button{
  animation: appear-button;
  opacity: 0;
  animation-duration: 1s;
  transition: opacity 2s ease, transform 0.5s ease, box-shadow 1s ease;
  animation-fill-mode: forwards;
}

@-webkit-keyframes appear-button {
  0%   { opacity: 0; }
  50%  { opacity: 0.5; }
  100%   { opacity: 1; }
}
@-moz-keyframes appear-button {
  0%   { opacity: 0; }
  50%  { opacity: 0.5; }
  100%   { opacity: 1; }
}
@-o-keyframes appear-button {
  0%   { opacity: 0; }
  50%  { opacity: 0.5; }
  100%   { opacity: 1; }
}
@keyframes appear-button {
  0%   { opacity: 0; }
  50%  { opacity: 0.5; }
  100%   { opacity: 1; }
}



div.icon-wrapper > i.navbar-icon{
  color:white;
  font-size: 2.5em;
}


.m20{
  margin:20px;
}

.m5{
  margin:5px;
}

.m10{
  margin:10px;
}

.m15{
  margin:15px;
}

.m30{
  margin:30px;
}
.m40{
  margin:40px;
}
.m50{
  margin:50px;
}

.mr3{
  margin-right:3px;
}

.mr5{
  margin-right:5px;
}

.mr10{
  margin-right:10px;
}

.mr15{
  margin-right:15px;
}


.mr20{
  margin-right:20px;
}


.mr30{
  margin-right:30px;
}

.mr35{
  margin-right:35px;
}

.ml5{
  margin-left:5px;
}

.ml10{
  margin-left:10px;
}
.ml15{
  margin-left:15px;
}

.ml20{
  margin-left:20px;
}

.ml30{
  margin-left:30px;
}


.ml35{
  margin-left:35px;
}

.ml40{
  margin-left:40px;
}

.mt5{
  margin-top:5px;
}

.mt7{
  margin-top:7px;
}

.mt9{
  margin-top:9px;
}

.mt10{
  margin-top:10px;
}

.mt12{
  margin-top:12px;
}

.mt13{
  margin-top:13px;
}

.mt14{
  margin-top:14px;
}

.mt15{
  margin-top:15px;
}

.mt16{
  margin-top:16px;
}

.mt20{
  margin-top:20px;
}
.mt25{
  margin-top:25px;
}

.mt26{
  margin-top:26px;
}

.mt30{
  margin-top:30px;
}

.mt40{
  margin-top:40px;
}

.mt50{
  margin-top:50px;
}

.mt150{
  margin-top:150px;
}

.mt60{
  margin-top:60px;
}

.mb10{
  margin-bottom:10px;
}

.mb20{
  margin-bottom:20px;
}

.mb30{
  margin-bottom:30px;
}

.mb40{
  margin-bottom:40px;
}

.mb50{
  margin-bottom:50px;
}

.mb60{
  margin-bottom:60px;
}




.pr10{
  padding-right:10px;
}

.pr20{
  padding-right:20px;
}

.p1{
  padding:1px;
}


.p2{
  padding:2px;
}
.p3{
  padding:3px;
}

.p5{
  padding:5px;
}

.p6{
  padding:6px;
}

.p10{
  padding:10px;
}

.p12{
  padding:12px;
}

.p15{
  padding:15px;
}

.p20{
  padding:20px;
}
.p30{
  padding:30px;
}
.pr5{
  padding-right:5px;
}

.pl1{
  padding-left:1px;
}

.pl2{
  padding-left:2px;
}
.pl3{
  padding-left:3px;
}

.pl5{
  padding-left:5px;
}

.pl10{
  padding-left:10px;
}
.pl20{
  padding-left:20px;
}

.pt5{
  padding-top:5px;
}

.pt10{
  padding-top: 10px;
}

.pt15{
  padding-top: 15px;
}

.pt20{
  padding-top: 20px;
}
.pt30{
  padding-top: 30px;
}
.pb5{
  padding-bottom:5px;
}

.pb10{
  padding-bottom:10px;
}

.pb20{
  padding-bottom:20px;
}
.pb30{
  padding-bottom:30px;
}

.pb40{
  padding-bottom:40px;
}

.pb45{
  padding-bottom:45px;
}

.w100c{
  width:100%;
}

.w80c{
  width:80%;
}
.w50c{
  width:50%;
}


.engineering-title{
  color: white;
  text-shadow: 0 0 3px #8100B4;
}

.computer-title{
  color: #eceef5;
}

.color-white{
  color:white;
}

.lucas-name-title{
  font-size: calc(17px + 1.3vw);
  text-shadow: 0 0 3px lightgray;
  min-width:calc(265px + 14vw); 
}

.home-main-titles{
    margin-top:40vh;
    display:flex;
    justify-content: center;
    margin-left:2em;
  }

@media only screen and (max-width: 620px){
  div.icon-wrapper > i.navbar-icon{
    font-size:2.5em;
  }
  .loader{
    bottom:10px;
    left:15px;
  }
  .home-main{
    left:30px;
  }
  .justify-center > a > div.icon-wrapper{
    margin:10px 10px 10px 10px;
    padding:10px 5px 5px 5px;
  }
}

.titles-container{
  display:flex;
  flex-direction:column;
  text-align:left;
  position:relative;
  left:20px;

}

h1,h2,h3,h4,h5{
  margin-block-start:0;
  margin-block-end:0;
}


.degree-title{
  font-size: calc(12px + 1.3vw);
}
.school-title{
  color: lightgray;
  font-size: calc(12px + 1vw);
  text-shadow: 0 0 3px #e4b429
}

.home-main-button{
    text-decoration: none;
    display: inline-block;
    border-bottom: 2px solid;
    padding: .5rem 1rem;
    margin: 1rem;
    font-size: 1rem;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
    color: rgba(255, 255, 255, 0.95);
    animation:appear-button
}

.home-main-button > i{
  transition-delay: 0.03s;
  font-weight: 900;
}

.home-main-button:hover{
    transform: translateY(-5px);
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.95);
    color: #282c34;
    border-radius: 10px;
}
